<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="${title}"></title>
    </head>

    <body>
        <h1>Profile</h1>
        <div th:if="@{!user.isEmpty}">
            <h3 th:text="${user.firstName}"></h3>
        </div>

        <div th:if="@{user.isEmpty}">
            <h3>There is no user data!</h3>
        </div>
    </body>
</html>