<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

    <body>
        <div  th:replace="fragments/navbar::navbar"></div>
        <h1>Profile <span th:if="${user.firstName}" th:text="${user.firstName}"></span></h1>
        <p th:if="${user.firstName}"><strong>Full Name: </strong> <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>
        <p th:if="${user.email}"><strong>Email: </strong> <span th:text="${user.email}"></span></p>
    </body>
</html>